{% extends "core/base.html" %}

{% block content %}
<style>
    .form-control:focus {
        box-shadow: none;
    }
</style>

<div class="container-fluid">
    <div class="row mb-4 py-10">
        <div class="col-md-6">
            <div class="card py-5">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-control">
                        {{form.as_p}}
                    </div>
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}