{% extends "core/base.html" %}

{% block content %}
<style>
    .form-control:focus {
        box-shadow: none;
    }
</style>

 

    <div class="row py-5 mt-4">
        <div class="card col-md-6">
           <div class="card py-5 px-5">
            {% if request.user.photo %}
            <img src="{{request.user.photo.url}}" alt="" class="card-img-top rounded-circle"style="width: 150px; height: 150px;">
            {% endif %}
           </div>
        </div>
        <div class="card col-md-6 py-3">
            <form action="" method="post" class="mb-3" enctype="multipart/form-data">
                {% csrf_token%}
                <div class="mb-3">
                    {{update_form.as_p}}
                </div>
                <button type="submit" class="btn btn-primary">Update Profile</button>
            </form>
            <a href="{% url 'password' %}" class="btn btn-primary">Update password</a>

        </div>
    </div>

</div>

{% endblock %}